<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Bikarw - Beach_</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet"> 
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="images/favicon.ico">
  </head><!--/head-->

  <body data-spy="scroll" data-target="#navbar-example">

    <!--.preloader-->
    <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
    <!--/.preloader-->

    <header id="home">
      <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="caption">
          <h1>Welcome to <span>Bikarw</span></h1>
          <p>DTT - TDD - Toulouserie - WTTB</p>
          <a data-scroll class="btn btn-start animated fadeInUpBig" target="_blank" href="https://www.bizouk.com/events/details/le-weekend-toulouse-tropical-beach/16886">Billeterie</a>
        </div>
        <div class="carousel-inner">
          <div class="item active" style="background-image: url(images/slider/1.jpg)">
          </div>
          <div class="item" style="background-image: url(images/slider/2.jpg)">
          </div>
          <div class="item" style="background-image: url(images/slider/3.jpg)">
          </div>
        </div>
        <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

        <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

      </div><!--/#home-slider-->
      <div class="main-nav">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
              <img src="images/logo.png" class="img-responsive" alt="logo">
            </a>                    
          </div>
          <div class="collapse navbar-collapse" id="navbar-example">
            <ul class="nav navbar-nav navbar-right">                 
              <li class="scroll active"><a href="#home">Home</a></li>
              <li class="scroll"><a href="#portfolio">Concept</a></li>
              <li class="scroll"><a href="#about-us">Lieux</a></li>                     
              <li class="scroll"><a href="#pricing">Soirées</a></li> 
              <li class="scroll"><a href="#twitter">Service</a></li> 
            </ul>
          </div>
        </div>
      </div><!--/#main-nav-->
    </header><!--/#home-->



    <section id="portfolio">

      <div class="container-fluid">
        <div class="row"> 
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h1 style=" text-shadow: 2px 2px 2px #CCCCCC; font-weight: 600;">LE CONCEPT</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-3 col-sm-3 col-sm-offset-1">
            <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="folio-image">
                <img class="img-responsive" src="images/portfolio/1.jpg" alt="">
              </div>
              <div class="overlay">
                <div class="overlay-content">
                  <div class="overlay-text">
                    <div class="folio-info">
                      <h3>Album 2015</h3>
                      <p>bla bla bla</p>
                    </div>
                    <div class="folio-overview">
                      <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                      <span class="folio-expand"><a href="images/portfolio/portfolio-details.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-lg-6">
            <p style="font-size: 1.375em; line-height: 33px;">
              Bienvenue au <strong>Week end Toulouse Tropical Beach</strong>,</br></br>
              ici tout est mis en œuvre pour vous faire passer un week end de Pâques 
              inoubliable. Venez découvrir ou re découvrir Toulouse. Ville du sud à 
              l’accent mélodieux, sa chaleur humaine vous réchauffera le cœur, le 
              corps et l’esprit. Pour rythmer votre week end un condensé des meilleurs 
              concepts toulousains.</br>
              Au milieu de l’effervescence, changez d’univers en un claquement de doigt …
            </p>
          </div>
          <div id="portfolio-single-wrap">
            <div id="portfolio-single">
            </div>
          </div><!-- /#portfolio-single-wrap -->
        </div><!-- End row div -->
      </div>
    </section><!--/#portfolio-->


          <section id="about-us" class="parallax">
            <div class="container">
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-5" id="form_map"> 
                  <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms" >
                    <h2 style="color:#666;" >L’InoxClub</h2>
                    <p style="font-size: 1.375em; line-height: 33px;">
                      Le complex du célèbre festival accueille la Toulouse Tropical Beach. Des KW de son, des jeux de lumières époustouflants et trois salles attendant plus de 5 000 personnes.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section><!--/#about-us-->



          <section id="pricing">
            <div class="container">
              <div class="row" >
                <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
                  <div class="trait col-md-4 col-sm-3 col-sm-offset-0 col-xs-2 col-xs-offset-1" ></div> 
                  <div class="col-md-4 col-xs-6" >
                      <h1 style="font-weight : bold;"> Les Soirées</h1> 
                  </div>
                  <div class="trait col-md-4 col-sm-3 col-xs-2" ></div>
                </div>
              </div>
              <div class="pricing-table" id="party-choice" >
                <div class="row">

                  <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-1">
                    <div class="wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
                      <div class="style_prevu_kit"><a href="#"><img src="images/img/PASTILLE - WHITEB WEEK WTTB.png" height="200px">
                      </a></div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0">
                    <div class="wow flipInY" data-wow-duration="1000ms" data-wow-delay="1400ms">
                       <div class="style_prevu_kit"><a href="#"><img src="images/img/PASTILLE - BIKINIB WEEK WTTB.png" height="200px">
                      </a></div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0">
                    <div class="wow flipInY" data-wow-duration="1000ms" data-wow-delay="1700ms">
                       <div class="style_prevu_kit"><a href="#"><img src="images/img/PASTILLE - COMEDY WEEK WTTB.png" height="200px">
                      </a></div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0">
                    <div class="wow flipInY" data-wow-duration="1000ms" data-wow-delay="2000ms">
                       <div class="style_prevu_kit"><a href="#"><img src="images/img/PASTILLE - DTT WEEK WTTB.png" height="200px">
                      </a></div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0">
                    <div class="wow flipInY" data-wow-duration="1000ms" data-wow-delay="2300ms">
                       <div class="style_prevu_kit"><a href="#"><img src="images/img/PASTILLE - GAMES WEEK WTTB.png" height="200px">
                      </a></div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </section><!--/#pricing-->



          <section id="twitter" class="parallax">
            <div>
              <div class="container">
                <div class="row" style="height: 220px;">
                  <div class="col-sm-8 col-sm-offset-2">
                    <div class="twitter-icon text-center">
                      <i class="fa fa-twitter"></i>
                      <h4>ILS EN PARLENT</h4>
                    </div>
                    <div id="twitter-carousel" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="item active wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                          <p>Et si j'allais récup mon pass-WE #BeachToulouse ☺️  </br><a href="https://twitter.com/MamiloHKM/status/705368143582076928" style="font-weight: bold;">Voir le tweet</a></p>
                        </div>
                        <div class="item">
                          <p>Bon si j'arrive a poser mes perms jusqu'au 28 en rentrant je prend mon pass pour la beach </br>
                          <a href="https://twitter.com/Andy_Fila/status/705434134357938176" style="font-weight: bold;">Voir le tweet</a></p>
                        </div>
                        <div class="item">                                
                          <p>Logement ✅ pass ✅ billet de train✅ Toulouse twopical beach ta la sé ta mwen  ! Bon dié fè mwen rivé là souplé 👏😣 mwen pé pa mantché tala !</span></br>
                          <a href="https://twitter.com/coolyxJ/status/705739262453522432" style="font-weight: bold;">Voir le tweet</a></p>
                        </div>
                      </div>                        
                    </div>                    
                  </div>
                </div>
              </div>
            </div>
          </section><!--/#twitter-->



          <footer id="footer">
            <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="container text-center">
                <div class="footer-logo">
                  <a href="index.html"><img class="img-responsive" src="images/logo.png" alt=""></a>
                </div>
                <div class="social-icons">
                  <ul>
                    <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
                    <li><a class="twitter" href="https://twitter.com/BikarwMusic" target="_blank"><i class="fa fa-twitter"></i></a></li> 
                    <li><a class="facebook" href="https://www.facebook.com/wttbeach/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="instagram" href="https://www.instagram.com/toulousetropicalbeach/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                </div>
                <div class="row">
                  <div class="col-xs-4 col-sm-5" id="contact-container">
                  <ul>
                    <li>CONTACTS</li>
                    <li>546464684</li>
                    <li>546464684</li>
                    <li>546464684</li>
                  </ul>
                </div>

                <div class="col-xs-4 col-sm-5 col-xs-offset-4 col-sm-offset-2" id="partenaire-container">
                  <ul>
                    <li>PARTENAIRES</li>
                    <li>546464684</li>
                    <li>546464684</li>
                    <li>546464684</li>
                  </ul>
                </div>
                </div>
              </div>
            </div>
            <div class="footer-bottom">
              <div class="container">
                <div class="row">
                  <div class="col-sm-6">
                    <p>&copy; 2016 Bikarw musique.</p>
                  </div>
                  <div class="col-sm-6">
                    <!-- <p class="pull-right">Crafted by <a href="http://designscrazed.org/">Allie</a></p> -->
                  </div>
                </div>
              </div>
            </div>
          </footer>
          <script type="text/javascript" src="js/jquery.js"></script>
          <script type="text/javascript" src="js/bootstrap.min.js"></script>
          <script type="text/javascript" src="js/map.js"></script>
          <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgeouol-QOwUiTdk62jn7RNEt4fBMARJk&callback=buildMap">
          </script> -->
          
          <script type="text/javascript" src="js/jquery.inview.min.js"></script>
          <script type="text/javascript" src="js/wow.min.js"></script>
          <script type="text/javascript" src="js/mousescroll.js"></script>
          <script type="text/javascript" src="js/smoothscroll.js"></script>
          <script type="text/javascript" src="js/jquery.countTo.js"></script>
          <script type="text/javascript" src="js/lightbox.min.js"></script>
          <script type="text/javascript" src="js/main.js"></script>

        </body>
        </html>